<!DOCTYPE html>
<html>
<title>TheCloud</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    .background {
        background-position: center;
        background-size: cover;
        background-image: url("/static/background.jpg");
        min-height: 100%;
    }
</style>

<body>

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="#home" class="w3-bar-item w3-button"><b>The</b>Cloud</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="#" class="w3-bar-item w3-button">Link</a>
                <a href="#" class="w3-bar-item w3-button">Link</a>
                <a href="#" class="w3-bar-item w3-button">Link</a>
            </div>
        </div>
    </div>

    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
        <img class="w3-image" src="/static/background.jpg" alt="Architecture" width="1500" height="800">
        <div class="w3-display-middle w3-margin-top w3-center">
            <h1 class="w3-xxlarge w3-text-white">
                <span class="w3-hide-small w3-text-light-grey">The</span><span class="w3-padding w3-black w3-opacity-min"><b>Cloud</b></span>
            </h1>
        </div>
    </header>

    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">


    <!-- End page content -->
    </div>


    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-16">
        <p>Created by <a href="https://github.com/GhostyCatt" target="_blank" class="w3-hover-text-blue">Ghostyy</a> & <a href="https://github.com/Progamer68" target="_blank" class="w3-hover-text-light-blue">Progamer68</a></p>
    </footer>

</body>

</html>